<script type="text/javascript">
$(document).ready(function() {
	$.ketchup.createErrorContainer(function (form, el) {
	return $('<ul/>', {
	    'class': 'ketchup-custom'
	}).insertAfter(el);
	}).addErrorMessages(function (form, el, container, messages) {
	    container.html('');
	    for (i = 0; i < messages.length; i++) {
	        $('<li/>', {
	            text: messages[i]
	        }).appendTo(container);
	    }
	}).showErrorContainer(function (form, el, container) {
	    container.slideDown('fast');
	}).hideErrorContainer(function (form, el, container) {
	    container.slideUp('fast');
	});

	$('.formUpdateUser').ketchup({
	    validateEvents: 'blur focus keyup'
	}, {
	    '.required': 'required'
	});

	$(".formUpdateUser").validate({
		rules: {
			user_pass1: {
				equalTo: "#user_pass"
			}
		}
	});

	//submit change user detail
	$(".formUpdateUser").submit(function() {
		var pass = $("#user_pass").val();
		var email = $("#user_email").val();
		$.post("<%=uupdate_url(session[:user].id)%>", {pass:pass,email:email}, function(data) {
			$(".changeComplete").html(data);
		});
		return false;
	});
});
</script>

<h2 style="text-align:center;margin-top:10px;color:#fff;">Update User Detail</h2>

<%=form_for(@user, :url => uupdate_url(session[:user].id), :html => {:class => "formUpdateUser"}) do |f|%>
	<ul>
		<li>
			<%=f.label :pass, "Password : "%>
			<%=f.password_field :pass, :name => :user_pass, :value => "", :autocomplete => "off"%>
		</li>
		<li>
			<%=f.label :pass1, "Re-Password : "%>
			<%=f.password_field :pass1, :name => :user_pass1, :value => "", :autocomplete => "off"%>
		</li>
		<li>
			<%=f.label :email, "Email : "%>
			<%=f.text_field :email, :name => :user_email, :autocomplete => "off", :class => "required"%>
		</li>
		<li>
			<%=f.submit "Submit"%>
		</li>
		<li>
			<div class="changeComplete"></div>
		</li>
	</ul>
<% end %>